html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.calc {
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #000;
  color: #fdfdfd;
  padding: 18px;
  -webkit-box-shadow: 4px 4px 4px #a6a6a6;
          box-shadow: 4px 4px 4px #a6a6a6;
  margin: 50px auto;
}

.calc-screen {
  height: 125px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.calc-screen p {
  text-align: right;
  font-size: 4rem;
  margin: 0;
}

.btns {
  display: -ms-grid;
  display: grid;
  justify-items: center;
      grid-template-areas: "ac plus-minus percent division" "seven eight nine multi" "four five six minus" "one two three plus" "zero zero dot equal";
  gap: 10px;
}

.btn {
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}
.btn:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}
.btn:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.btn.bg-orange {
  background-color: #ff9501;
}
.btn.bg-grey {
  background-color: #a6a6a6;
}
.btn.zero {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: zero;
  width: 100%;
  border-radius: 34px;
}